/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* -webkit-text-stroke: 0.2px; */
  /* -webkit-text-stroke: 0.45px rgba(255, 255, 6, .9); */
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;600&display=swap');

@font-face {
  font-family: silka-Regular;
  src: url('./fonts/Silka-Regular.woff2');
}
@font-face {
  font-family: silka-Light;
  src: url('./fonts/Silka-Light.woff2');
}
@font-face {
  font-family: Silka-ExtraLight;
  src: url('./fonts/Silka-ExtraLight.woff2');
}
@font-face {
  font-family: Silka-SemiBold;
  src: url('./fonts/Silka-SemiBold.woff2');
}

body {
  background-color: #131313;
  overflow: hidden;
  /* background-image: url(/grid.svg); */
  color: #fff;
  /* font-family: 'silka-Regular'; */
/* 
  transitions: none !important;
  -webkit-backface-visibility: hidden; */
}
main {
  height: 100vh;
  width: 100vw;
  position: relative;
}
.color {
  height: 1000px;
  width: 1000px;
  /* background-image: radial-gradient(closest-side, rgba(0, 195, 255, 0.21), rgba(0, 0, 0, 0)); */
  background-image: radial-gradient(
    closest-side,
    rgba(255, 255, 255, 0.03),
    rgba(0, 0, 0, 0)
  );

  position: absolute;
  top: -570px;
  right: 50%;
  /* mix-blend-mode: lighten;  */
}
.color2 {
  height: 500px;
  width: 500px;
  background-image: radial-gradient(
    closest-side,
    rgba(0, 195, 255, 0.14),
    rgba(0, 0, 0, 0)
  );
  position: fixed;
  top: -250px;
  right: -250px;

  /* mix-blend-mode: color-burn; */
  /* mix-blend-mode: color; */
  /* mix-blend-mode: color-dodge; */
  /* mix-blend-mode: darken; */
  mix-blend-mode: difference;
  /* mix-blend-mode: exclusion; */
  /* mix-blend-mode: hard-light; */
  /* mix-blend-mode: hue; */
  /* mix-blend-mode: lighten;  */
  /* mix-blend-mode: luminosity; */
  /* mix-blend-mode: multiply; */
  /* mix-blend-mode: normal; */
}
.grid {
  position: absolute;
  top: 0;
  left: 0;
  height: 550px;
  width: 100vw;
  z-index: -5;

  fill: none;
  stroke: #fff;
  stroke-opacity: 0.4;
  stroke-width: 1;
}

.cover {
  width: 100vw;
  height: 550px;
  background-image: radial-gradient(
    farthest-corner at 27% -100%,
    #13131300 0%,
    #131313 56%
  );
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background: #131313;
  z-index: 10000;
  top: 0;
  left: 0;
  position: absolute;
}

.goldDot {
  height: 6px;
  width: 6px;
  top: 51px;
  left: 27.5%;
  z-index: 100;
  background-image: url('/images/goldBall.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  border-radius: 30px;
}

.intro {
  z-index: 1;
  font-family: Silka-ExtraLight;
  font-family: 'Inter', sans-serif;
  font-weight: 200;
  font-size: 15px;
}

.jobTitle {
  font-family: Silka-SemiBold;
  font-weight: 400;
  font-size: 28px;
}

.headers {
  position: relative;
  display: flex;
  justify-content: center;
  top: 163px;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  /* display: flex;
  padding-left: auto;
  top: 120px;
  justify-content: end;
  padding: 0 30px;
  position: relative; */
}

.location {
  font-family: Silka-Light;
  /* font-family: 'Inter', sans-serif; */
  font-weight: 400;
  font-size: 24px;
}

.availContainer {
  display: flex;
  justify-content: start;
  width: 100vw;
  overflow-y: hidden;
  /* overflow-x: hidden; */

  font-family: Silka-Regular;
  font-weight: 400;
  font-size: 12px;
  margin-top: 46px;
  text-align: center;
  position: absolute;
  flex-direction: column;
  /* background-color: red; */
  height: 15px;  
}

.disable-scroll{
  /* overflow-y: hidden !important; */
}
/* .availability {
  font-family: Silka-Regular;
  font-weight: 400;
  font-size: 12px;
  margin-top: 48px;
  text-align: center;
  position: absolute;
} */

.rotate {
  /* animation-fill-mode: both;
  display: block;
  height: 100%;
  animation-name: spin_word1, spin_word2, spin_word3, spin_word4, spin_word5,
    spin_word6;
  animation-delay:  4s, 9s, 14s, 19s, 24s, 29s, 34s;
  animation-duration: 0.3s; /* same for all */
  /* animation-timing-function: ease-out;  */
      -webkit-user-select: none; 
      user-select: none;
}


.bar1,
.bar2 {
  width: 37px;
  height: 4px;
  background: #fff;
  /* margin-top: 6px; */
  z-index: 1000;
  /* position: absolute;  */
  align-self: center;
}

.bar1 {
  /* align-self: start; */
  transition: all 3s;
  transition: align-self 2s;
}
.bar2 {
  /* align-self: end; */
  /* background: red; */
}

.burger {
  cursor: pointer;
  /* position: absolute; */
  z-index: 1000;
  height: 15px;
  width: 50px;
  position: absolute;
  /* top: 200px; */

  /* background:red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* top: 1000px; */
}

.nav {
  display: flex;
  padding-left: auto;
  top: 48px;
  justify-content: end;
  padding: 0 30px;
  position: relative;
}
