/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: silka-Regular;
  src: url('./fonts/Silka-Regular.otf');
}
@font-face {
  font-family: silka-Light;
  src: url('./fonts/Silka-Light.otf');
}
@font-face {
  font-family: Silka-ExtraLight;
  src: url('./fonts/Silka-ExtraLight.otf');
}
@font-face {
  font-family: Silka-SemiBold;
  src: url('./fonts/Silka-SemiBold.otf');
}

body {
  background-color: #131313;
  overflow: hidden;
  /* background-image: url(/grid.svg); */
  color: #fff;
  /* font-family: 'silka-Regular'; */
}
main {
  height: 100vh;
  width: 100vw;
  position: relative;
}
.color {
  height: 1000px;
  width: 1000px;
  /* background-image: radial-gradient(closest-side, rgba(0, 195, 255, 0.21), rgba(0, 0, 0, 0)); */
  background-image: radial-gradient(
    closest-side,
    rgba(0, 195, 255, 0.14),
    rgba(0, 0, 0, 0)
  );

  position: fixed;
  top: -570px;
  right: 50%;
  /* mix-blend-mode: lighten;  */
}
.color2 {
  height: 500px;
  width: 500px;
  background-image: radial-gradient(
    closest-side,
    rgba(0, 195, 255, 0.14),
    rgba(0, 0, 0, 0)
  );
  position: fixed;
  top: -250px;
  right: -250px;

  /* mix-blend-mode: color-burn; */
  /* mix-blend-mode: color; */
  /* mix-blend-mode: color-dodge; */
  /* mix-blend-mode: darken; */
  mix-blend-mode: difference;
  /* mix-blend-mode: exclusion; */
  /* mix-blend-mode: hard-light; */
  /* mix-blend-mode: hue; */
  /* mix-blend-mode: lighten;  */
  /* mix-blend-mode: luminosity; */
  /* mix-blend-mode: multiply; */
  /* mix-blend-mode: normal; */
}
.grid {
  position: absolute;
  top: 0;
  left: 0;
  height: 550px;
  width: 100vw;
  z-index: -5;

  fill: none;
  stroke: #fff;
  stroke-opacity: 0.4;
  stroke-width: 1;
}

.cover {
  width: 100vw;
  height: 550px;
  background-image: radial-gradient(
    farthest-corner at 20% -100%,
    #13131300 0%,
    #131313 60%
  );
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background: #131313;
  z-index: 10000;
  top: 0;
  left: 0;
  position: absolute;
}

.goldDot {
  height: 6px;
  width: 6px;
  top: 51px;
  left: 27.5%;
  z-index: 100;
  background-image: url('/images/goldBall.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  border-radius: 30px;
}

.intro {
  z-index: 10000;
  font-family: Silka-ExtraLight;
  font-size: 15px;
}

.jobTitle {
  font-family: Silka-SemiBold;
  font-size: 28px;
}

.headers {
  position: relative;
  display: flex;
  justify-content: center;
  top: 163px;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  /* display: flex;
  padding-left: auto;
  top: 120px;
  justify-content: end;
  padding: 0 30px;
  position: relative; */
}

.location {
  font-family: Silka-Light;
  font-size: 24px;
}

.availContainer {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.availability {
  font-family: Silka-ExtraLight;
  font-size: 12px;
  margin-top: 48px;
  /* left: 30%; */
  text-align: center;
  /* display: inline; */
  position: absolute;
}
.bar1,
.bar2 {
  width: 37px;
  height: 4px;
  background: #fff;
  /* margin-top: 6px; */
  z-index: 1000;
  /* position: absolute;  */
  align-self: center;
}

.bar1 {
  /* align-self: start; */
  transition: all 3s;
  transition: align-self 2s;
}
.bar2 {
  /* align-self: end; */
  /* background: red; */
}

.burger {
  cursor: pointer;
  /* position: absolute; */
  z-index: 1000;
  height: 15px;
  width: 50px;
  position: absolute;
  /* top: 200px; */

  /* background:red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* top: 1000px; */
}

.nav {
  display: flex;
  padding-left: auto;
  top: 48px;
  justify-content: end;
  padding: 0 30px;
  position: relative;
}
